# macOS
.DS_Store

# Homebrew
/Brewfile.lock.json

# VS Code
/.vscode/settings.json

# CMake
/temp/

# Ninja
/.ninja_log

# Obsidian
/obsidian/.obsidian/

# Tiled
*.tiled-session

# Rust
/tools/target/
/tools/Cargo.lock

# Dynax packer
/external/doynamite68k/lz
